<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weatherapp" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <queries>
        <!-- List of apps which you want to support for Intent pay -->
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="com.phonepe.app" />
        <!--
             Specific intents you query for,
             eg: for a custom share UI
        -->
        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>
    </queries>
    <application
        android:name=".multiDex.MultiDexApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="VirenXia App"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeatherApp"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!--   <data
              android:host="rzp.io"
              android:scheme="io.rzp" />-->
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="demoapp" android:host="demo.cognitoauth.com" android:path="/signin"/>
            </intent-filter>
        </activity>
        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".PaymentActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_d6EV1BLZ3GNmEN" />
    </application>

</manifest>